@import url("https://use.typekit.net/zvl4idw.css");
h1{
    font-family: balboa, sans-serif;
    font-size: clamp(25pt, 4vw, 30pt);
    font-weight: 500;
    font-style: medium;
    text-transform: uppercase;
}

#titleLink, #titleLink:hover, #titleLink:visited, #titleLink:active, #titleLink:link {
    color: inherit;
    text-decoration: none;
   }

h2{
    font-family: barteldes-small, serif;
    font-size: clamp(20pt, 4vw, 35pt);
    font-weight: 400;
    font-style: book;
}

h3{
    font-family: balboa, sans-serif;
    font-size: clamp(20pt, 4vw, 32pt);
    font-weight: 500;
    font-style: medium;
    text-transform: uppercase;
}

h3 a, h3 a:hover, h3 a:visited, h3 a:active, h3 a:link{
    color: inherit;
    text-decoration: none;
}


h4, h4:hover, h4:visited, h4:active, h4:link{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: clamp(10pt, 2.5vw, 16pt);
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: var(--colour-gray);
    text-decoration: none;
}

h3.subtitle{
    font-family: balboa, sans-serif;
    font-size: clamp(18pt, 3.6vw, 30pt);
    font-weight: 300;
    font-style: normal;
    text-transform: unset;
}

#search-id{
    font-family: input-serif-compressed, serif;
    font-size: clamp(9pt, 1.3vw, 12pt);
    font-weight: 200;
    font-style: normal;
}

.productName{
    font-family: input-serif-compressed, serif;
    font-size: clamp(10pt, 1.5vw, 14pt);
    font-weight: 200;
    font-style: normal;
}

.listingName{
    font-family: input-serif-compressed, serif;
    font-size: clamp(9pt, 1vw, 12pt);
    font-weight: 200;
    font-style: normal;
}

.productPrice{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: clamp(12pt, 2vw, 16pt);
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: var(--colour-gray);
    text-decoration: none; 
}

.productPageName{
    font-family: input-serif-compressed, serif;
    font-size: clamp(15pt, 3vw, 20pt);
    font-weight: 200;
    font-style: normal;
}

.marqueeText {
    font-family: input-serif-compressed, serif;
    font-size: clamp(6pt, 1vw, 9pt);
    font-weight: 400;
    font-style: italic;
}

.footerTitle{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: clamp(10pt, 2.5vw, 16pt);
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.footerItem{
    font-family: input-serif-compressed, serif;
    font-size: clamp(9pt, 1.3vw, 12pt);
    font-weight: 200;
    font-style: normal;
}

input:focus, select:focus{
    outline: none;
}

.pathText { 
    font-family: "Segoe UI"; 
    font-size: clamp(9pt, 1.5vw, 12pt);; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 15.4px; 
}

.productPagePriceSingle { 
    font-family: "Segoe UI"; 
    font-size: clamp(12pt, 1.6vw, 14pt);; 
    font-style: semibold; 
    font-variant: normal; 
    font-weight: 450; 
    line-height: 15.4px; 
}

.stockText { 
    font-family: "Segoe UI"; 
    font-size: clamp(9pt, 1.6vw, 12pt);; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 15.4px; 
}

.inStock{
    color: rgb(26, 139, 83);
}

.itemCounter--count{
    font-family: "Segoe UI"; 
    font-size: clamp(10pt, 1.6vw, 14pt);; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 15.4px; 
}

.productPagePriceTotal { 
    font-family: "Segoe UI"; 
    font-size: clamp(14pt, 1.8vw, 17pt);; 
    font-style: bold; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 15.4px; 
}

.productPagePrice { 
    font-family: input-serif-compressed, serif;
    font-size: clamp(17pt, 2vw, 22pt);; 
    font-style: bold; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 15.4px; 
}

#costTable, h5 { 
    font-family: "Segoe UI"; 
    font-size: clamp(12pt, 1.6vw, 14pt);; 
    font-style: semibold; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 15.4px; 
}

#tableTotal, h6{
    font-family: input-serif-compressed, serif;
    font-size: clamp(14pt, 1.8vw, 17pt);; 
    font-style: bold; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 15.4px; 
}

/* Product Page */

#productDetailsTitle{
    font-family: input-serif-compressed, serif;
    font-size: clamp(14pt, 2vw, 17pt);; 
    font-style: italic; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 15.4px; 
}

.productDetailsText { 
    font-family: "Segoe UI"; 
    font-size: clamp(9pt, 1.6vw, 12pt);; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20pt;
}

.filterTitle, .filterTitle:hover, .filterTitle:visited, .filterTitle:active, .filterTitle:link{
    font-size: calc(100% + 2pt);
    text-transform: none;
    font-weight: 600; 
}

.checkoutInputLabel { 
    font-family: "Segoe UI"; 
    font-size: clamp(12pt, 1.5vw, 15pt);; 
    font-style: bold; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 15.4px; 
}